<div class="row">
	<div class="col-md-8">
		<div class="media">
			<br/>
			<div class="media-body">
				<h2 class="media-heading"><%= current_user.name %></h2>
				<medium>
					<%= pluralize(current_user.items.count, 'task') %>
				</medium>
			</div>	
		</div>		
	</div>
</div>

<h3>To Do Items</h3>
	<%= render current_user.items %>


<h3>Add New To-Do Item</h3>
<% if current_user %>
	<%= render partial: 'items/form', locals: { item: Item.new, user: current_user } %>
<% end %>
