<div class="media">
	<div class="media-body">
	
		
				<div class="item col-md-11">
					<% @user.items.each do |item| %>
					<li class="item-list col-md-8">
						<%= item.body %>
					</li>
					<% end %>
				</div>
			

			<div class="time-left col-md-3">
			</div>
		
		<div class-"delete col-md-12">
		</div>



	</div>

</div>

