
<div class="media">
	<div class="media-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Item</th>
						<th>Days Left</th>
						<th>Completed</th>
					</tr>
				</thead>
				<tbody>
						<% @user.items.each do |item| %> <br/>
							<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
							<tr>
								<td><%= item.body %></td>
								<td><%= item.days_left %> days left </td>
								<td><%= link_to "", user_item_path({user_id: current_user.id, id: item.id}), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %></td>
							<% end %>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


