<div class="media">
	<div class="media-body">
		<h4 class="media-heading">
			<%= link_to item.body, item_path(item) %>
		</h4>
		<small>
			posted <%= time_ago_in_words(item.created_at) %> 
			<!-- days_ago_in_words? -->
		</small>
	</div>

</div>

